[submodule "FileAccess"]
	path = FileAccess
	url = https://github.com/hyppenny/FileAccess
[submodule "lock"]
	path = lock
	url = https://github.com/hyppenny/lock
[submodule "dir"]
	path = dir
	url = https://github.com/hyppenny/dir
[submodule "cache"]
	path = cache
	url = https://github.com/hyppenny/cache
